<section class="amenities">
  <div class="amenities__container">
    <h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities__desc amenities__desc--first">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <h3 class="amenities__subtitle">ЗАГАЛЬНІ</h3>
    <ul class="amenities__list list">
      <li class="amenities__list-item">
        <p class="amenities__desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>

      <li></li>
      <li class="amenities__list-item">
        <p class="amenities__desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <h3 class="amenities__subtitle">ВАННА КІМНАТА</h3>
    <ul class="amenities__list list">
      <li class="amenities__list-item">
        <p class="amenities__desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="amenities__list-item">
        <p class="amenities__desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <h3 class="amenities__subtitle">СПАЛЬНЯ</h3>
    <p class="amenities__desc amenities__desc--second">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </p>
    <h3 class="amenities__subtitle">КУХНЯ</h3>
    <ul class="amenities__list list">
      <li class="amenities__list-item">
        <p class="amenities__desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities__list-item">
        <p class="amenities__desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
    </ul>
    <h3 class="amenities__subtitle">МЕДІА</h3>

    <p class="amenities__desc amenities__desc--second">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <div class="amenities__btn-wrapper">
      <div class="amenities__btn-container">
        <button class="amenities__btn" type="button">
          ОФОРМИТИ БРОНЮВАННЯ
        </button>

        <a class="amenities__ref link" href="#"
          >Повернутися до перегляду номерів
          <svg
            class="amenities__icon"
            width="24"
            height="24"
            aria-label="Стрілка переходу до номерів"
          >
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
