<section>
    <div class="container">
        <h2>ЗРУЧНОСТІ У НОМЕРІ</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h3>ЗАГАЛЬНІ</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h3>ВАННА КІМНАТА</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h3>СПАЛЬНЯ</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <h3>КУХНЯ</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <h3>МЕДІА</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit.</p>

        <button type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

        <a href="#">Повернутися до перегляду номерів
            <svg class="" width="24" height="24" aria-label="Стрілка переходу до номерів">
                <use href="/src/images/icons.svg#icon-arrow-right"></use>
            </svg>
        </a>

    </div>
</section>