<section>
    <div class="container">
        <h1>ЗРУЧНОСТІ У НОМЕРІ</h1>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h2>ЗАГАЛЬНІ</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h2>ВАННА КІМНАТА</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h2>СПАЛЬНЯ</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <h2>КУХНЯ</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <h2>МЕДІА</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit.</p>

        <button type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

        <a href="#">Повернутися до перегляду номерів
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </a>

    </div>
</section>