<!-- Перша секція -->
<section class="lux section-room">
  <div class="container">
    <p class="room-subtitle">Amet minim mollit non</p>
    <strong class="logo-room">MIMIHO</strong>
    <h2 class="room-title">ДВОМІСНИЙ НОМЕР <span>люкс</span></h2>
    <p class="room-content">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="room-photo__reverse">
      <img
        class="room-photo"
        srcset="/src/images/reuse/double-room.jpg 244w,
                    /src/images/reuse/double-room@2x.jpg  488w,
                    /src/images/reuse/double-room-tablet.jpg 400w,
                    /src/images/reuse/double-room-tabletX2.jpg 800w,
                    /src/images/reuse/double-room-pc.jpg 460w
                    /src/images/reuse/double-room-pcX2.jpg 960w"
        src="/src/images/reuse/double-room.jpg"
        alt="номер з панорамним вікном"
      />
    </div>
    <div class="room-item">
      <div>
        <div class="slider-room">
          <div class="slider-room__container">
            <img
              class="slider__washbasin"
              srcset="/src/images/slider-hotel/washbasin-mobile.jpg
                      /src/images/slider-hotel/washbasin-mobile@2x.jpg
                      /src/images/slider-hotel/washbasin-desktop.jpg 1x,
                      /src/images/slider-hotel/washbasin-desktop@2x.jpg 2x"
              src="/src/images/slider-hotel/washbasin-desktop.jpg"
              alt="фото умивальника"
            />
            <img
              class="slider__window"
              srcset="/src/images/slider-hotel/window-mobile.jpg
                      /src/images/slider-hotel/window-mobile@2x.jpg
                      /src/images/slider-hotel/window-desktop.jpg 1x,
                      /src/images/slider-hotel/window-desktop@2x.jpg 2x"
              src="/src/images/slider-hotel/window-desktop.jpg"
              alt="фото туї за вікном"
            />
          </div>
        </div>
        <div class="slider__way">
          <svg
            class="arrow-left"
            width="32"
            height="32"
            aria-label="стрілка ліворуч"
          >
            <use href="/src/images/icons.svg#icon-arrow-left"></use>
          </svg>
          <svg
            class="arrow-right"
            width="32"
            height="32"
            aria-label="стрілка праворуч"
          >
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
      <div class="room-button__container">
        <a href="/src/room.html" class="button section-button" type="button"
          >Детальніше</a
        >
        <button
          class="button section-button js-open-modal"
          data-modal="3"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Друга секція -->
<section class="triple section-room">
  <div class="container">
    <p class="room-subtitle room-subtitle__reverse">Amet minim mollit non</p>
    <strong class="logo-room logo-room__reverse">MIMIHO</strong>
    <h2 class="room-title room-title__reverse">ТРЬОХМІСНИЙ НОМЕР</h2>
    <div class="room-content__container">
      <p class="room-content">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="room-photo__container">
      <img
        class="room-photo"
        srcset="/src/images/reuse/double-room.jpg 244w,
                    /src/images/reuse/double-room@2x.jpg  488w,
                    /src/images/reuse/double-room-tablet.jpg 400w,
                    /src/images/reuse/double-room-tabletX2.jpg 800w,
                    /src/images/reuse/double-room-pc.jpg 460w
                    /src/images/reuse/double-room-pcX2.jpg 960w"
        src="/src/images/reuse/double-room.jpg"
        alt="номер з панорамним вікном"
      />
    </div>
    <div class="room-item room-item__reverse">
      <div>
        <div class="slider-room">
          <div class="slider-room-reverse">
            <img
              class="slider__washbasin"
              srcset="/src/images/slider-hotel/washbasin-mobile.jpg
                      /src/images/slider-hotel/washbasin-mobile@2x.jpg
                      /src/images/slider-hotel/washbasin-desktop.jpg 1x,
                      /src/images/slider-hotel/washbasin-desktop@2x.jpg 2x"
              src="/src/images/slider-hotel/washbasin-desktop.jpg"
              alt="фото умивальника"
            />
            <img
              class="slider__window"
              srcset="/src/images/slider-hotel/window-mobile.jpg
                      /src/images/slider-hotel/window-mobile@2x.jpg
                      /src/images/slider-hotel/window-desktop.jpg 1x,
                      /src/images/slider-hotel/window-desktop@2x.jpg 2x"
              src="/src/images/slider-hotel/window-desktop.jpg"
              alt="фото туї за вікном"
            />
          </div>
        </div>
        <div class="slider__way__reverse">
          <svg width="32" height="32" aria-label="стрілка ліворуч">
            <use class="" href="/src/images/icons.svg#icon-arrow-left"></use>
          </svg>
          <svg width="32" height="32" aria-label="стрілка праворуч">
            <use class="" href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
      <div class="room-button__reverse">
        <a href="/src/room.html" class="button section-button" type="button"
          >Детальніше</a
        >
        <button
          class="button section-button js-open-modal"
          data-modal="3"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Третя секція -->
<section class="duo section-room">
  <div class="container">
    <p class="room-subtitle">Amet minim mollit non</p>
    <strong class="logo-room">MIMIHO</strong>
    <h2 class="room-title">ДВОМІСНИЙ НОМЕР</h2>
    <p class="room-content">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="room-photo__reverse">
      <img
        class="room-photo"
        srcset="/src/images/reuse/double-room.jpg 244w,
                    /src/images/reuse/double-room@2x.jpg  488w,
                    /src/images/reuse/double-room-tablet.jpg 400w,
                    /src/images/reuse/double-room-tabletX2.jpg 800w,
                    /src/images/reuse/double-room-pc.jpg 460w
                    /src/images/reuse/double-room-pcX2.jpg 960w"
        src="/src/images/reuse/double-room.jpg"
        alt="номер з панорамним вікном"
      />
    </div>
    <div class="room-item">
      <div>
        <div class="slider-room">
          <div class="slider-room__container">
            <img
              class="slider__washbasin"
              srcset="/src/images/slider-hotel/washbasin-mobile.jpg
                    /src/images/slider-hotel/washbasin-mobile@2x.jpg
                    /src/images/slider-hotel/washbasin-desktop.jpg 1x,
                    /src/images/slider-hotel/washbasin-desktop@2x.jpg 2x"
              src="/src/images/slider-hotel/washbasin-desktop.jpg"
              alt="фото умивальника"
            />
            <img
              class="slider__window"
              srcset="/src/images/slider-hotel/window-mobile.jpg
                      /src/images/slider-hotel/window-mobile@2x.jpg
                      /src/images/slider-hotel/window-desktop.jpg 1x,
                      /src/images/slider-hotel/window-desktop@2x.jpg 2x"
              src="/src/images/slider-hotel/window-desktop.jpg"
              alt="фото туї за вікном"
            />
          </div>
        </div>
        <div class="slider__way">
          <svg width="32" height="32" aria-label="стрілка ліворуч">
            <use class="" href="/src/images/icons.svg#icon-arrow-left"></use>
          </svg>
          <svg width="32" height="32" aria-label="стрілка праворуч">
            <use class="" href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
      <div class="room-button__container">
        <a href="/src/room.html" class="button section-button" type="button"
          >Детальніше</a
        >
        <button
          class="button section-button js-open-modal"
          type="button"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
