<section>
    <div class="container">
        <p>Amet minim mollit non</p>
        <strong>MIMIHO</strong>
        <h2>ДВОМІСНИЙ НОМЕР <span>люкс</span></h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>

        <img srcset="/src/images/reuse/double-room.jpg 1x,
                     /src/images/reuse/double-room@2x.jpg  2x " src="/src/images/reuse/double-room.jpg"
            alt="номер з панорамним вікном">

        <div>
            <img srcset="/src/images/slider-hotel/washbasin-mobile.jpg 1x,
                         /src/images/slider-hotel/washbasin-mobile@2x.jpg 2x"
                src="/src/images/slider-hotel/washbasin-mobile.jpg" alt="фото умивальника">

            <img srcset="/src/images/slider-hotel/window-mobile.jpg 1x,
                         /src/images/slider-hotel/window-mobile@2x.jpg 2x"
                src="/src/images/slider-hotel/window-mobile.jpg" alt="фото туї за вікном">
        </div>

        <div>
            <svg width="32" height="32" aria-label="стрілка ліворуч">
                <use class="" href="/src/images/icons.svg#icon-arrow-left"></use>
            </svg>
            <svg width="32" height="32" aria-label="стрілка праворуч">
                <use class="" href="/src/images/icons.svg#icon-arrow-right"></use>
            </svg>
        </div>

        <button type="button">Детальніше</button>
        <button type="button">Переглянути ціни</button>

    </div>
</section>
<section>
    <div class="container">
        <p>Amet minim mollit non</p>
        <strong>MIMIHO</strong>
        <h2>ТРЬОХМІСНИЙ НОМЕР</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>

        <img srcset="/src/images/reuse/double-room.jpg 1x,
                     /src/images/reuse/double-room@2x.jpg  2x "      
        src="/src/images/reuse/double-room.jpg" 
        alt="номер з панорамним вікном">
        
        <div>
            <img srcset="/src/images/slider-hotel/washbasin-mobile.jpg 1x,
                         /src/images/slider-hotel/washbasin-mobile@2x.jpg 2x"
            src="/src/images/slider-hotel/washbasin-mobile.jpg" 
            alt="фото умивальника">

            <img srcset="/src/images/slider-hotel/window-mobile.jpg 1x,
                         /src/images/slider-hotel/window-mobile@2x.jpg 2x"
            src="/src/images/slider-hotel/window-mobile.jpg" 
            alt="фото туї за вікном">
        </div>

        <div>
             <svg width="32" height="32" aria-label="стрілка ліворуч">
                <use class="" href="/src/images/icons.svg#icon-arrow-left"></use>
             </svg>
            <svg width="32" height="32" aria-label="стрілка праворуч">
                <use class="" href="/src/images/icons.svg#icon-arrow-right"></use>
            </svg>
        </div>

        <button type="button">Детальніше</button>
        <button type="button">Переглянути ціни</button>

    </div>
</section>

<section>
    <div class="container">
        <p>Amet minim mollit non</p>
        <strong>MIMIHO</strong>
        <h2>ДВОМІСНИЙ НОМЕР </h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>

        <img srcset="/src/images/reuse/double-room.jpg 1x,
                     /src/images/reuse/double-room@2x.jpg  2x " src="/src/images/reuse/double-room.jpg"
            alt="номер з панорамним вікном">

        <div>
            <img srcset="/src/images/slider-hotel/washbasin-mobile.jpg 1x,
                         /src/images/slider-hotel/washbasin-mobile@2x.jpg 2x"
                src="/src/images/slider-hotel/washbasin-mobile.jpg" alt="фото умивальника">

            <img srcset="/src/images/slider-hotel/window-mobile.jpg 1x,
                         /src/images/slider-hotel/window-mobile@2x.jpg 2x"
                src="/src/images/slider-hotel/window-mobile.jpg" alt="фото туї за вікном">
        </div>

        <div>
            <svg width="32" height="32" aria-label="стрілка ліворуч">
                <use class="" href="/src/images/icons.svg#icon-arrow-left"></use>
            </svg>
            <svg width="32" height="32" aria-label="стрілка праворуч">
                <use class="" href="/src/images/icons.svg#icon-arrow-right"></use>
            </svg>
        </div>

        <button type="button">Детальніше</button>
        <button type="button">Переглянути ціни</button>

    </div>
</section>