<section class="hotel__section">
    <div>
        <p class="hotel__tagline">Amet minim mollit non</p>
        <span class="hotel__logo">MIMIHO</span>
    </div>
    <div>
        <h2 class="hotel__title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
           mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
        <picture>
            <source srcset="/src/images/reuse/double-room.jpg" type="image"/>
            <source srcset="/src/images/reuse/double-room@2x.jpg" type="image"/>
            <img class="hotel__img--main" src="/src/images/reuse/double-room.jpg" alt="Кімната з ліжком"/>
        </picture>
    <div>
        <svg class="hotel__scroll--left" width="32px" height="32px">
            <use href="/src/images/icons.svg#icon-arrow-left"></use>
        </svg>
        <svg width="32px" height="32px">
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
    </div>
    <div>
        <a href="/src/room.html" class="hotel__buttom">Детальніше</a>
    </div>
    <div>
        <button type="button" class="hotel__buttom">Переглянути ціни</button>
    </div>
    <div>
        <p class="hotel__tagline--reverse">Amet minim mollit non</p>
        <span class="hotel__logo--reverse">MIMIHO</span>
    </div>
    <div>
        <h2 class="hotel__title--reverse">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="hotel__text--reverse">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div class="hotel__img--main">
        <!-- <img src="" alt=""> -->
    </div>
    <div class="hotel__img--secondary">
        <!-- <img src="" alt=""> -->
    </div>
    <div>
        <svg width="32px" height="32px">
            <use href="/src/images/icons.svg#icon-arrow-left"></use>
        </svg>
        <svg width="32px" height="32px">
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
    </div>
    <div>
        <button type="button" class="hotel__buttom">Детальніше</button>
    </div>
    <div>
        <button type="button" class="hotel__buttom">Переглянути ціни</button>
    </div>
    <div>
        <p class="hotel__tagline">Amet minim mollit non</p>
        <span class="hotel__logo">MIMIHO</span>
    </div>
    <div>
        <h2 class="hotel__title">ДВОМІСНИЙ НОМЕР</h2>
        <p class="hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div class="hotel__img--main">
        <!-- <img src="" alt=""> -->
    </div>
    <div class="hotel__img--secondary">
        <!-- <img src="" alt=""> -->
    </div>
    <div>
        <svg width="32px" height="32px">
            <use href="/src/images/icons.svg#icon-arrow-left"></use>
        </svg>
        <svg width="32px" height="32px">
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
    </div>
    <div>
        <button type="button" class="hotel__buttom">Детальніше</button>
    </div>
    <div>
        <button type="button" class="hotel__buttom">Переглянути ціни</button>
    </div>
</section>