li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    list-style: none;

}

a {
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    margin: 0px;
}

h2 {
    margin: 0 0;
}

h3 {
    margin: 0 0;
}

.menu {
    text-decoration: none;
}

header {
    margin: 0;
    padding: 0;
}

footer {
    margin: 0 auto;
}