@import './common';
@import './example';
@import './base/reset';
@import './utils/variables/breakpoints';
@import './layout/container';
@import './utils/variables/colors';

// Homepage

// Header section
@import './reuse/logo';
@import './reuse/socials';
@import './components/header';
@import './layout/modal-forms';

// Hero Room section
@import './components/hero-main-section';
@import './reuse/buttons';

// Feature section
@import './components/templates-section/feature-section';

// Service section
@import './components/templates-section/service-section';

// Contacts section
@import './components/home-section/contacts-section';

// Footer section
@import './components/footer';


// Page Restaurant 


// Restaurant-menu section
@import './components/restaurant-section/restaurant-menu-section';


// Page Hotel


// Rooms section
@import './components/hotel-section/room-section';



// Page Room

// Hero-main section
@import './components/hero-main-section';

// Amenities section
@import './components/room-section/amenities-section';









