<section class="feature">
  <div class="container">
    <p class="feature__text">Amet minim mollit non</p>
    <h2 class="feature__title">Міміно</h2>
    <p feature__text-description>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          /src/images/feature/chief.jpg    1x,
          /src/images/feature/chief@2x.jpg 2x
        "
        type="image"
      />
      <img src="/src/images/feature/chief.jpg" alt="Кухня ресторану" />
    </picture>
    <picture>
      <source
        srcset="
          /src/images/feature/meat.jpg    1x,
          /src/images/feature/meat@2x.jpg 2x
        "
        type="image"
      />
      <img src="/src/images/feature/meat.jpg" alt="Свіже м'ясо" />
    </picture>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              /src/images/feature/restaurant-flour.jpg    1x,
              /src/images/feature/restaurant-flour@2x.jpg 2x
            "
            type="image"
          />
          <img
            src="/src/images/feature/restaurant-flour.jpg"
            alt="Кухар працює з тістом"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              /src/images/feature/restaurant-meal.jpg    1x,
              /src/images/feature/restaurant-meal@2x.jpg 2x
            "
            type="image"
          />
          <img
            src="/src/images/feature/restaurant-meal.jpg"
            alt="Вишукана трапеза у ресторані"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
