<section class="feature-hotel">
    <div class="container">
        <div class="feature-hotel__flex-container">
            <div class="flex-hotel-text">
            <p class="feature-hotel__text">Amet minim mollit non</p>
            <h2 lang="en" class="feature-hotel__title">Mimiho</h2>
            <p class="feature-hotel__text-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <picture class="feature-hotel__img">
                <source srcset="/src/images/reuse/double-room.jpg 1x, /src/images/reuse/double-room@2x.jpg 2x" type="image" />
                <img src="/src/images/reuse/double-room.jpg" alt="Номер готелю" />
            </picture>
        </div>
        <div class="feature-hotel--flex">
            <p class="feature-hotel__text-hall">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <picture class="feature-hotel__hall">
                <source srcset="/src/images/feature/hotel.jpg 1x, /src/images/feature/hotel@2x.jpg 2x" type="image" />
                <img class="feature-hotel__img-hall" src="/src/images/feature/hotel.jpg" alt="Інтер'єр холу отеля" width="200" height="278" />
            </picture>
        </div>
        <picture class="feature-hotel__img-slide">
            <source srcset="/src/images/feature/hotel-registration.jpg 1x, /src/images/feature/hotel-registration@2x.jpg 2x" type="image" />
            <img src="/src/images/feature/hotel-registration.jpg" alt="Регістрація в отелі" />
        </picture>
    </div>
</section>