<section class="feature">
    <div class="container">
        <p class="feature__text">Amet minim mollit non</p>
        <h2 class="feature__title">Міміно</h2>
        <p feature__text-description>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture>
            <source srcset="/src/images/feature/restaurant-interior.jpg 1x, /src/images/feature/restaurant-interior@2x.jpg 2x" type="image" />
            <img src="/src/images/feature/restaurant-interior.jpg" alt="Інтер'єр ресторану 1" />
          </picture>
    </div>
</section>