<section class="servise-section">
    
    <div class="container">
        <div class="servise-section__container">
            <div class="servise-section__features-container">
                <h2 class="servise-section__head">MIMIHO</h2>
                <p class="servise-section__business-type">Ресторан</p>
                <p class="servise-section__text">Amet minim mollit non deserunt ullamco est sit 
                    aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit.</p>
            </div>
            <div class="servise-section__pictures-container">
                <!-- Фото блюдо-1 -->
                <picture>
                    <source
                        srcset="
                            ./images/servise/servise-restaurant-dish-1-mobile.jpg 1x, 
                            ./images/servise/servise-restaurant-dish-1-mobile@2x.jpg 2x
                        "
                        media="(max-width:1023px)"
                        type="image/jpeg"
                    >
                    <source
                        srcset="
                        ./images/servise/servise-restaurant-dish-1-mobile.jpg 1x, 
                        ./images/servise/servise-restaurant-dish-1-mobile@2x.jpg 2x
                        "
                        media="(min-width:1024px)"
                        type="image/jpeg"
                    >
                    <source
                        srcset="
                        ./images/servise/servise-restaurant-dish-1-mobile.jpg 1x, 
                        ./images/servise/servise-restaurant-dish-1-mobile@2x.jpg 2x
                        "
                        media="(min-width:1280px)"
                        type="image/jpeg"
                    >
                    <img
                        src="./images/servise/servise-restaurant-dish-1-mobile.jpg" 
                    
                        alt="блюдо 1"
                        class="servise-section__dish-1"
                    >
                </picture>
                <!-- Фото блюдо-2 -->
                <picture>
                    <source
                        srcset="
                            ./images/servise/servise-restaurant-dish-2-mobile.jpg 1x, 
                            ./images/servise/servise-restaurant-dish-2-mobile@2x.jpg 2x
                        "
                        media="(max-width:1023px)"
                        type="image/jpeg"
                    >
                    <source
                        srcset="
                        ./images/servise/servise-restaurant-dish-2-mobile.jpg 1x, 
                        ./images/servise/servise-restaurant-dish-2-mobile@2x.jpg 2x
                        "
                        media="(min-width:1024px)"
                        type="image/jpeg"
                    >
                    <source
                        srcset="
                        ./images/servise/servise-restaurant-dish-2-mobile.jpg 1x, 
                        ./images/servise/servise-restaurant-dish-2-mobile@2x.jpg 2x
                        "
                        media="(min-width:1280px)"
                        type="image/jpeg"
                    >
                    <img
                        src="./images/servise/servise-restaurant-dish-2-mobile.jpg" 
                    
                        alt="блюдо 2"
                        class="servise-section__dish-2"
                    >
                </picture>
                <div class="servise-section__arrows-container">
                    <svg width="32" height="32" class="servise-section__arrow">
                        <use href="./images/icons.svg#icon-arrow-left"> </use>
                    </svg> 
                    <svg width="32" height="32" class="servise-section__arrow">
                        <use href="./images/icons.svg#icon-arrow-right"> </use>
                    </svg>         
                </div>
            </div>
            <div class="servise-section__buttons-container">
                <button type="button" class="servise-section__button">
                    Забронювати столик
                </button>
                <button type="button" class="servise-section__button">
                    Переглянути меню
                </button>
            </div>
        </div>
    </div>
</section>