<section class="slider-section" data-slider="team-slider">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="swiper-image"
            src="/src/images/slider-homepage/features-glass-mobile.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-image"
            src="/src/images/slider-homepage/features-meal-mobile.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-image"
            src="/src/images/slider-homepage/features-restaurant-mobile.jpg"
            alt=""
          />
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-btns">
        <button type="button" class="swiper-btn swiper-btn-prev">
          <svg width="32" height="32">
            <use href="/src/images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btn swiper-btn-next">
          <svg width="32" height="32">
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
