:root {
    --color-black: #000000;
    --color-akzent: #F3C653;
    --color-white: #FFFFFF;
    --color-brown: #C79002;

    --color-lightgray: #B4B4B4;
    --color-mimihogray: #494848;
    --color-darkgray: #7A7A7A;
    --color-address: #828282;
    --color-addresshero: #E5E5E5;
    --color-servicetext: #BABABA;
    --color-form: #808080;

    --background-lemon: #FFFDEE;
    --background-darklemon: #F0ECD6;
    --background-footer: #0E0C07;
}