:root {
    --color-primary: #7A7A7A;
    --color-secondary: #FFFFFF;
    --color-tertiary: #000000;
    --color-accent: #F3C653;
    --color-accent-secondary: #C79002;
    --color-address-header: #E5E5E5;
    --color-brand: #494848;
    --color-form-placeholder: #808080;
    --color-subtitle: #B4B4B4;
    --bg-primary: #FFFDEE;
    --bg-secondary: #F0ECD6;
    --bg-footer: #0E0C07;
    --bg-button:rgba(0, 0, 0, 0.4);
    }