<section>
    <div>
     <h1>МЕНЮ РЕСТОРАНУ</h1>
          <table>
            <caption> Гарячі страви</caption>
            <tbody>
                <tr>
                    <td>
                       <span>Борщ з телятини з квасолею</span> <br>
                        Телятина, картопля, капуста, морква, <br>
                        цибуля, квасоля, часник,помідори,<br>
                        зелень, сметана
                    </td>
                    <td>400 г</td>
                    <td>240 грн</td>
                </tr>
                <tr>
                    <td>
                        <span>Суп сирний з куркою</span> <br>
                        Курятина, картопля, морква, цибуля, <br>
                         печериці, сир м’який, зелень
                    </td>
                    <td>400 г</td>
                    <td>200 грн</td>
                </tr>
                <tr>
                    <td>
                        <span>Паста карбонара</span> <br>
                        Паста тальятеле, бекон, вершки, сир <br>
                         пармезан, яйце, зелень
                    </td>
                    <td>350 г</td>
                    <td>430 грн</td>
                </tr>
                <tr>
                    <td>
                     <span>Стейк зі свинини</span> <br>
                     Свиняча вирізка, спеціі, подається з <br> 
                     соусом солодкий чилі та овочами
                    </td>
                    <td>400г </td>
                    <td> 500грн </td>
                </tr>
                <tr>
                    <td>
                         <span>Горбуша в соусі з білого вина</span> <br>
                         Ніжна горбуша, вершковий соус на <br> 
                         основі білого вина
                    </td>
                    <td> 400 г </td>
                    <td>500 грн </td>
                </tr>
            </tbody>
          </table>
          <table>
             <caption>Гарніри та закуски</caption>
              <tbody>
                  <tr>
                      <td>
                         <span>Запечені овочі</span> <br>
                         Кабачок, перець, помідор, баклажан
                      </td>
                      <td>200 г</td>
                      <td>230 грн</td>
                  </tr>
                  <tr>
                      <td>
                         <span>Картопля фрі</span> <br>
                         Картопля, соус томатний
                      </td>
                      <td>150 г</td>
                      <td>160грн</td>
                  </tr>
                  <tr>
                      <td>
                         <span>Картопля по-селянськи</span> <br>
                         Картопля, спеції, соус пікантний
                      </td>
                      <td>150 г</td>
                      <td>160 грн </td>
                  </tr>
                  <tr>
                      <td>
                         <span>Хрумкі соління з бочки</span> <br>
                         Огірок солений, помідор квашений, <br>
                         квашена капуста, морква по-корейські
                      </td>
                      <td> 250 г </td>
                      <td> 350 грн </td>
                  </tr>
                  <tr>
                      <td>
                         <span>Крильця курячі в медовому  <br> соусі</span>
                         Крильця курячі, гірчично-медовий <br>
                         соус, подається з морквою, селерою і <br>
                         соусом блючиз
                      </td>
                      <td>400 г</td>
                      <td>420 грн </td>
                  </tr>
              </tbody>
          </table>        
          <table>
              <caption>Салати</caption>
              <tbody>
                  <tr>
                      <td>
                          <span>Цезар з куркою</span> <br>
                          Куряче філе, листя салату, помідори <br>
                           чері, сир пармезан, грінки, соус цезар
                      </td>
                      <td>230 г</td>
                      <td> 450 грн </td>
                  </tr>
                  <tr>
                      <td>
                          <span>Цезар з креветками</span> <br>
                          Тигрові креветки, листя салату, помідори <br>
                          чері, сир пармезан, грінки, соус цезар
                      </td>
                      <td>230 г</td>
                      <td>300 грн</td>
                  </tr>
                  <tr>
                      <td>
                          <span>Грецький салат</span> <br>
                        Свіжі огірок, помідор, болгарський <br>
                        перець, оливки, сир бринза, листя <br>
                        салату, соус
                      </td>
                      <td>230 г</td>
                      <td>280 грн</td>
                  </tr>
                  <tr>
                      <td>
                          <span>М’ясний салат</span> <br>
                          Куряче філе або свиняча вирізка, свіжі <br>
                          огірок, помідор, болгарський перець, <br>
                          соус ранч
                      </td>
                      <td>230 г</td>
                      <td>300 грн</td>
                  </tr>
              </tbody>
          </table>
          <table>
              <caption>Десерти</caption>
              <tbody>
                  <tr>
                      <td> <span>Торт наполеон</span></td>
                      <td>230 г</td>
                      <td> 300 грн</td>
                  </tr>
                  <tr>
                      <td> <span>Торт маковий</span></td>
                      <td>230 г</td>
                      <td>300 грн </td>
                  </tr>
                  <tr>
                      <td><span>Тірамісу</span></td>
                      <td>120 г</td>
                      <td> 260 грн</td> 
                  </tr>
              </tbody>
          </table>
          <table>
              <caption>Напої</caption>
              <tbody>
                  <tr>
                      <td> <span>Чай чорний/зелений</span></td>
                      <td>500 мл</td>
                      <td>100 грн</td>
                  </tr>
                  <tr>
                      <td><span>Еспресо</span></td>
                      <td>30 мл</td>
                      <td> 100 грн</td>
                  </tr>
                  <tr>
                      <td><span>Американо</span></td>
                      <td>150 мл</td>
                      <td>100 грн</td>
                  </tr>
                 <tr>
                     <td><span>Капучино</span></td>
                     <td>200 мл</td>
                     <td>160 грн</td>
                  </tr>
                  <tr>
                      <td>Лате</td>
                      <td>200 мл</td>
                      <td>160 грн</td>
                  </tr>
              </tbody>
          </table>

          <button type="button">Забронювати столик</button>

    </div>
</section>