<section class="restaurant-menu section">
    <div class="container">
        <h2 class="restaurant-menu__title">МЕНЮ РЕСТОРАНУ</h2>
       <div class="restaurant-menu__main">
         <table class="restaurant-menu__table table">
             <caption class="table__sort"> Гарячі страви</caption>
             <tbody class="table__main">
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Борщ з телятини з квасолею</span> <br>
                        Телятина, картопля, капуста, морква, <br>
                        цибуля, квасоля, часник,помідори,<br>
                        зелень, сметана
                    </td>
                    <td class="table__weight">400 г</td>
                    <td class="table__price">240 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Суп сирний з куркою</span> <br>
                        Курятина, картопля, морква, цибуля, <br>
                        печериці, сир м’який, зелень
                    </td>
                    <td class="table__weight">400 г</td>
                    <td class="table__price">200 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Паста карбонара</span> <br>
                        Паста тальятеле, бекон, вершки, сир <br>
                        пармезан, яйце, зелень
                    </td>
                    <td class="table__weight">350 г</td>
                    <td class="table__price">430 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Стейк зі свинини</span> <br>
                        Свиняча вирізка, спеціі, подається з <br>
                        соусом солодкий чилі та овочами
                    </td>
                    <td class="table__weight">400г </td>
                    <td class="table__price"> 500грн </td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Горбуша в соусі з білого вина</span> <br>
                        Ніжна горбуша, вершковий соус на <br>
                        основі білого вина
                    </td>
                    <td class="table__weight"> 400 г </td>
                    <td class="table__price">500 грн </td>
                </tr>
             </tbody>
         </table>
         <table class="restaurant-menu__table table">
             <caption class="table__sort">Гарніри та закуски</caption>
             <tbody class="table__main">
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Запечені овочі</span> <br>
                        Кабачок, перець, помідор, баклажан
                    </td>
                    <td class="table__weight">200 г</td>
                    <td class="table__price">230 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Картопля фрі</span> <br>
                        Картопля, соус томатний
                    </td>
                    <td class="table__weight">150 г</td>
                    <td class="table__price">160 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Картопля по-селянськи</span> <br>
                        Картопля, спеції, соус пікантний
                    </td>
                    <td class="table__weight">150 г</td>
                    <td class="table__price">160 грн </td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Хрумкі соління з бочки</span> <br>
                        Огірок солений, помідор квашений, <br>
                        квашена капуста, морква по-корейські
                    </td>
                    <td class="table__weight"> 250 г </td>
                    <td class="table__price"> 350 грн </td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Крильця курячі в медовому <br> соусі</span> <br>
                        Крильця курячі, гірчично-медовий <br>
                        соус, подається з морквою, селерою і <br>
                        соусом блючиз
                    </td>
                    <td class="table__weight">400 г</td>
                    <td class="table__price">420 грн </td>
                </tr>
             </tbody>
         </table>
         <table class="restaurant-menu__table table">
             <caption class="table__sort">Салати</caption>
             <tbody class="table__main">
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Цезар з куркою</span> <br>
                        Куряче філе, листя салату, помідори <br>
                        чері, сир пармезан, грінки, соус цезар
                    </td>
                    <td class="table__weight">230 г</td>
                    <td class="table__price"> 450 грн </td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Цезар з креветками</span> <br>
                        Тигрові креветки, листя салату, помідори <br>
                        чері, сир пармезан, грінки, соус цезар
                    </td>
                    <td class="table__weight">230 г</td>
                    <td class="table__price">300 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Грецький салат</span> <br>
                        Свіжі огірок, помідор, болгарський <br>
                        перець, оливки, сир бринза, листя <br>
                        салату, соус
                    </td>
                    <td class="table__weight">230 г</td>
                    <td class="table__price">280 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">М’ясний салат</span> <br>
                        Куряче філе або свиняча вирізка, свіжі <br>
                        огірок, помідор, болгарський перець, <br>
                        соус ранч
                    </td>
                    <td class="table__weight">230 г</td>
                    <td class="table__price">300 грн</td>
                </tr>
             </tbody>
         </table>
         <table class="restaurant-menu__table table">
             <caption class="table__sort">Десерти</caption>
             <tbody class="table__main">
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Торт наполеон</span>
                    </td>
                    <td class="table__weight">230 г</td>
                    <td class="table__price"> 300 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Торт маковий</span>
                    </td>
                    <td class="table__weight">230 г</td>
                    <td class="table__price">300 грн </td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Тірамісу</span>
                    </td>
                    <td class="table__weight">120 г</td>
                    <td class="table__price"> 260 грн</td>
                </tr>
             </tbody>
         </table>
         <table class="restaurant-menu__table table">
             <caption class="table__sort">Напої</caption>
             <tbody class="table__main">
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Чай чорний/зелений</span>
                    </td>
                    <td class="table__weight">500 мл</td>
                    <td class="table__price">100 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Еспресо</span>
                    </td>
                    <td class="table__weight">30 мл</td>
                    <td class="table__price"> 100 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Американо</span>
                    </td>
                    <td class="table__weight">150 мл</td>
                    <td class="table__price">100 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Капучино</span>
                    </td>
                    <td class="table__weight">200 мл</td>
                    <td class="table__price">160 грн</td>
                </tr>
                <tr class="table__line">
                    <td class="table__food">
                        <span class="table__food-name">Лате</span>
                    </td>
                    <td class="table__weight">200 мл</td>
                    <td class="table__price">160 грн</td>
                </tr>
             </tbody>
         </table>
       </div>

        <button class="button section-button restaurant-menu__button" type="button">Забронювати столик</button>

    </div>
</section>