<section class="hero-room">
  <div class="container">
    <span class="hero-room__overlay"></span>
    <address class="address-hero">
      <a
        class="address-hero__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://goo.gl/maps/cptG7c8c7tnHhMN49"
      >
        <svg class="address-hero__icon" width="20" height="20">
          <use href="/src/images/icons.svg#icon-location"></use>
        </svg>
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15</a
      >
    </address>
    <h1 class="hero-room__title">
      <span class="hero-room__big-title">Двомісний номер </span>люкс
    </h1>
    <p class="hero-room__descriprtion">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="hero-room__container">
      <ul>
        <li class="hero-room__item">
          <a href="#">
            <svg class="socials__icon" width="22" height="22">
              <use href="/src/images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero-room__item">
          <a href="#">
            <svg class="socials__icon" width="22" height="22">
              <use href="/src/images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero-room__item">
          <a href="#">
            <svg class="socials__icon" width="22" height="22">
              <use href="/src/images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="button hero-button" type="button">Переглянути ціни</button>
    </div>
  </div>
</section>
