<section class="section contact">
    <div class="container contact__container">
        <div>
            <h2 class="contact__title" lang="en">MIMIHO</h2>
            <p class="contact__text">Ресторанно-готельний комплекс</p>
            
            <ul class="contact__list">
                <li class="contact__item">
                    <p class="contact__label">Ресторан</p>
                    <div class="contact__box contact__box-s">
                        <svg class="contact__icon-c" width="24" height="24">
                            <use href="/src/images/icons.svg#icon-phone"></use>
                        </svg>
                        <ul class="contact__list-phone-f">
                            <li>
                                <a href="Tel:+380955559533" class="contact__phone">095 555 95 33</a>
                            </li>
                            <li>
                                <a href="Tel:+380672758540" class="contact__phone">067 275 85 40</a>                           
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li class="contact__item">
                    <p class="contact__label">Готель</p>
                    <div class="contact__box">
                        <svg class="contact__icon-c" width="24" height="24">
                            <use href="/src/images/icons.svg#icon-phone"></use>
                        </svg> 

                    <ul class="contact__list-phone">
                                
                            <li>     
                                <a href="Tel:+380668491089" class="contact__phone">066 849 10 89</a>                                 
                            </li>
                            <li>
                                <a href="Tel:+380672758540" class="contact__phone">067 275 85 40</a>                           
                            </li>
                       
                    </ul>
                    </div>
                </li>

                <li class="contact__item">
                    <p class="contact__label">Локація</p>
                    <address class="contact__address">
                        <svg class="contact__icon-c" width="24" height="24">
                            <use href="/src/images/icons.svg#icon-location"></use>
                        </svg>
                        
                        <div class="contact__address-link">
                            <a href="https://goo.gl/maps/TDqVeLDmJQBspjhR6" target="_blank" rel="noopener noreferrer nofollow" class="contact__address-text">Україна, м. Полтава,
                                <div class="contact__address-dep">
                                    <span>вул. Маршала</span>
                                    <span>Бірюзова, 15</span>
                                </div>
                            </a>
                        </div>
                    </address>
                </li>     
            </ul>
        </div>
        <div class="contact__img"></div>    
    </div>
</section>