.hotel__section {
    max-width: 414px;
    padding: 0 15px;
    margin: 0 auto;
}

.hotel__tagline {
    color: #B4B4B4;
}

.hotel__tagline--reverse {
    color: cyan;
    text-align: end;
}

.hotel__logo {

}

.hotel__logo--reverse {
    display: block;
    color: cyan;
    text-align: end;
}

.hotel__title { 

}

.hotel__title--reverse {
    color: cyan;
    text-align: end;
}

.hotel__text {

}

.hotel__text--reverse {
    color: cyan;
}

.hotel__img--main {
    height: 322px;
    background-color: red;
}

.hotel__img--secondary {
    height: 194px;
    background-color: green;
}

.hotel__scroll--left {
    margin-right: 33px;
}

.hotel__buttom {

}