// Точки перелому
//$mobile: 414px;
//$tablet: 1024px;
//$desktop: 1280px;
.section-room {
  padding: 32px 0;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    padding: 0;
    overflow: visible;
  }
}
.lux {
  background-color: var(--bg-primary);

  @media screen and (min-width: $tablet) {
    padding-top: 72px;
    position: relative;
  }
}
.duo {
  background-color: var(--bg-primary);

  @media screen and (min-width: $tablet) {
    padding-top: 62px;
    position: relative;
  }
}
.triple {
  background-color: var(--bg-secondary);

  @media screen and (min-width: $tablet) {
    padding-top: 62px;
    position: relative;
  }
}
.room-subtitle {
  font-family: 'Times New Roman';

  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);

  color: var(--color-subtitle);

  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    font-size: 32px;
    margin-bottom: 4px;
  }
}
.room-subtitle__reverse {
  text-align: end;

  @media screen and (min-width: $desktop) {
    margin-right: 57px;
  }
}
.logo-room {
  font-family: 'Film P3', sans-serif;

  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;

  color: var(--color-brand);

  @media screen and (min-width: $tablet) {
    font-size: 64px;
  }
}
.logo-room__reverse {
  display: block;
  text-align: end;

  @media screen and (min-width: $desktop) {
    margin-right: 36px;
  }
}
.room-title {
  font-family: 'Times New Roman';

  font-weight: 700;
  font-size: 24px;
  line-height: 1.15;

  letter-spacing: 0.05em;
  color: var(--color-tertiary);

  margin-bottom: 12px;
  margin-top: 32px;

  @media screen and (min-width: $tablet) {
    font-size: 30px;
    margin-top: 62px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    font-weight: 600;
    margin-top: 72px;
    margin-bottom: 24px;
  }
}
.room-title__reverse {
  text-align: end;
  @media screen and (min-width: $tablet) {
    margin-right: 43px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 57px;
  }
}
.room-content {
  font-family: 'Montserrat';

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;

  color: var(--color-primary);

  width: 258px;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.218;
    width: 439px;
    margin-bottom: 176px;
  }

  @media screen and (min-width: $desktop) {
    width: 400px;
    font-weight: 700;
    margin-bottom: 188px;
  }
}
.room-content__container {
  margin-left: 83px;

  @media screen and (min-width: $tablet) {
    margin-left: 510px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 600px;
  }
}
.slider-room {
  position: relative;
  display: flex;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
  }
}
.slider-room__container {
  display: flex;
  position: absolute;
  transform: translate(-35%, 0);
  gap: 16px;

  @media screen and (min-width: $tablet) {
    position: static;
    transform: translate(0, 0);
    gap: 40px;
  }
}
.slider-room-reverse {
  display: flex;
  transform: translate(30%, 0);
  gap: 16px;

  @media screen and (min-width: $tablet) {
    transform: translate(0, 0);
    gap: 40px;
  }
}
.slider__washbasin {
  width: 194px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @media screen and (min-width: $tablet) {
    border-radius: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 254px;
  }
}
.slider__window {
  width: 194px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @media screen and (min-width: $tablet) {
    border-radius: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 254px;
  }
}
.slider__way {
  display: flex;
  gap: 34px;
  margin-top: 215px;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    margin-top: 15px;
    margin-bottom: 45px;
    margin-left: 330px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 450px;
  }
}
.slider__way__reverse {
  display: flex;
  gap: 34px;
  margin-bottom: 25px;
  justify-content: end;

  @media screen and (min-width: $tablet) {
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 45px;
  }
}
.room-photo {
  width: 244px;
  margin-bottom: 32px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: $tablet) {
    position: absolute;
    width: 400px;
    top: 0;
    margin-bottom: 0px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    transform: translate(-65px, -32px);
  }

  @media screen and (min-width: $desktop) {
    width: 460px;
    height: 574px;
    transform: translate(-95px, -36px);
    border-radius: 2px;
  }
}
.room-photo__reverse {
  display: flex;
  justify-content: end;

  @media screen and (min-width: $tablet) {
  }
}
.room-photo__container {
  @media screen and (min-width: $tablet) {
    padding-left: 130px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 185px;
  }
}
.room-item {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.room-item__reverse {
  @media screen and (min-width: $tablet) {
    flex-direction: row-reverse;
  }
}
.room-button__container {
  margin-left: 80px;

  a:first-child {
    margin-bottom: 16px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-left: 267px;
    margin-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 327px;
    margin-top: 70px;
  }
}
.room-button__reverse {
  margin-left: 80px;

  a:first-child {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 40px;
    padding-right: 290px;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    margin-top: 75px;
    padding-right: 0;
    transform: translate(-371%, 0px);
  }
}
