<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="/src/index.html" class="logo">Mimino</a>
      <ul class="header__list">
        <div class="header__box">
          <li class="header__item">
            <a href="/src/restaurant.html" class="header__link">Ресторан</a>
          </li>
          <li class="header__item">
            <a href="tel:0955559533" class="header__link">
              <svg width="24" height="24" class="header__icon">
                <use href="/src/images/icons.svg#icon-phone"></use>
              </svg>
            </a>
          </li>
        </div>
        <div class="header__box">
          <li class="header__item">
            <a href="/src/hotel.html" class="header__link">Готель</a>
          </li>
          <li class="header__item">
            <a href="tel:0668491089" class="header__link">
              <svg width="24" height="24" class="header__icon">
                <use href="/src/images/icons.svg#icon-phone"></use>
              </svg>
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</header>
