.footer {
    background-color: var(--bg-footer);
    

}

.footer__container {
    display: flex;
    justify-content: space-between;
   
    
}

.wrap {

    padding-top: 98px;
    padding-bottom: 99px;
    margin-right: 85px;
    margin-left: 45px;

}


.wrap__logo {
    color: var(--color-accent);
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43/40);
    display: block;
    width: 127px;
    padding: 0;
    margin: 0;
}

.guide {
    margin-bottom: 32px;
}


.guide__list:not(:last-child) {
    margin-bottom: 16px;

}

.guide__link {
    font-family: 'Montserrat', 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--color-accent);
}

.wrap-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
}