.header {
    position: absolute;
    background-color: transparent;
}

.header__nav {
    display: flex;
    gap: 52px;
    align-items: center;
}

.logo {}

.header__box {
    display: flex;
    gap: 12px;
}
.header__list {
    display: flex;
    gap: 20px;

    padding-left: 0;
    margin: 0;
    list-style: none;
}

.header__item {}

.header__link {
    display: block;
    padding-top: 28px;
    padding-bottom: 16px;
    color: var(--color-akzent);

    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
}