.hero-room {
    position: relative;
    padding-top: 65px;
    background-image: url(/src/images/hero/hero-hotel.jpg);
    background-repeat: no-repeat;
    max-width: 414px;
    height: 740px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(/src/images/hero/hero-hotel@2x.jpg);
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
        height: 143px;
    }

    &__title {
        font-family: 'Times New Roman', serif;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: 0.05em;
        color: var(--color-secondary);
        margin-top: 372px;
        margin-bottom: 14px;
    }

    &__big-title {
        text-transform: uppercase;
    }

    &__descriprtion {
        @extend %main-font;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: var(--color-secondary);
        max-width: 325px;
        margin-bottom: 15px;
    }

    &__item:not(:last-child) {
        margin-bottom: 11px;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 72px;
    }
}

.address-hero {
    position: relative;
    display: inline-block;
    max-width: 210px;
    min-height: 47px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding: 8px 7px 9px 34px;
    margin-left: 174px;


    &__link {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 12px;
        line-height: 1.25;
        color: var(--color-address-header);
        letter-spacing: 0.01em;
    }

    &__icon {
        position: absolute;
        top: 14px;
        left: 5px;
        fill: var(--color-accent);
    }

    .socials__icon {
        fill: var(--color-accent);
    }
}