.hero-room {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
    position: relative;
    padding-top: 65px;
    background-image: url(/src/images/hero/hero-hotel.jpg);
    background-repeat: no-repeat;
    min-height: 740px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    @media screen and (max-width: 1023px) {
        background-position: 30% 0;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(/src/images/hero/hero-hotel@2x.jpg);
    }

    @media (min-width: $mobile) {
        background-image: url(/src/images/hero/hero-hotel-tablet.jpg);
        max-width: $tablet;
        min-height: 718px;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/src/images/hero/hero-hotel-tablet@2x.jpg);
        }
    }

    @media (min-width: $tablet) {
        background-image: url(/src/images/hero/hero-hotel-desktop.jpg);
        max-width: $desktop;
        min-height: 718px;
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/src/images/hero/hero-hotel-desktop@2x.jpg);
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
        height: 143px;

        @media (min-width: $tablet){
            height: 116px;
        }

        @media (min-width: $desktop) {
            height: 147px;
        }
    }

    &__title {
        font-family: 'Times New Roman', serif;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: 0.05em;
        color: var(--color-secondary);
        margin-top: 428px;
        margin-bottom: 14px;

        @media (min-width: $tablet) {
            font-size: 36px;
            margin-top: 401px;
            margin-bottom: 24px;
        }

        @media (min-width: $desktop) {
            margin-top: 457px;
        }
    }

    &__big-title {
        text-transform: uppercase;
    }

    &__descriprtion {
        @extend %main-font;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: var(--color-secondary);
        max-width: 325px;
        margin-bottom: 15px;

        @media (min-width: $tablet) {
            font-size: 16px;
            max-width: 400px;
        }
    }

    &__list {
        @media (min-width: $tablet) {
            position: absolute;
            left: 16px;
            bottom: 21px;
            margin-left: 356px;

            display: flex;
            gap: 20px;
        }

        @media (min-width: $desktop) {
            display: none;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 8px;
    }

    &__container {
        @media (max-width: 1023px) {
            display: flex;
            align-items: center;
            gap: 70px;
        }
    }
}

.address-hero {
    position: absolute;
    top: 65px;
    right: 15px;
    display: inline-block;
    max-width: 210px;
    min-height: 47px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding: 8px 7px 9px 34px;
    margin-left: 174px;

    @media (min-width: $desktop) {
        display: none;
    }

    @media (min-width: $tablet) {
        top: 640px;
        left: 47px;
        margin: 0;
        max-width: 285px;
        min-height: 56px;
        padding: 8px 7px 9px 44px;
        }

    &__link {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 12px;
        line-height: 1.25;
        color: var(--color-address-header);
        letter-spacing: 0.06em;

        @media (min-width: $tablet) {
            font-size: 16px;
            line-height: 1.25;
        }
    }

    &__icon {
        position: absolute;
        top: 14px;
        left: 6px;
        fill: var(--color-accent);

        @media (min-width: $tablet) {
            width: 24px;
            height: 24px;
            top: 16px;
            left: 10px;
        }
    }
}

.socials__icon {
    fill: var(--color-accent);
}

.hero-button-room{
    @media (min-width: $tablet){
        margin-left: 698px;
    }

    @media (min-width: $desktop) {
        position: absolute;
        bottom: 66px;
        margin-left: 878px;
    }
}