.logo {
    color: var(--color-secondary);

    font-family: 'Film P3', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: calc(39/36);
    @media (min-width: $tablet) {
        font-size: 40px;
    }
}