.slider-section {
    position: relative;

    .swiper {
        margin: 0;
        padding-bottom: 52px;
        max-width: 415px;
        @media (max-width: 1023px) {
        
                padding-left: 85px;
            }
        @media (min-width: $tablet) {
                max-width: 428px;
                padding-bottom: 64px;
            }
            @media (min-width: $desktop) {
                max-width: 548px;
            }

        
    }
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-in-out 0.5s;

        &.swiper-slide-active {
            max-width: 245px;
            @media (min-width: $tablet) {
                width: 194px !important;
            }
             @media (min-width: $desktop) {
                width: 254px !important;
            }
        }

        &.swiper-slide-next {
            // краще виставляти у %
            // зараз 17.3%  дорівнює 200px
            //width: 200px !important;
            @media (max-width: 1023px) {
            max-width: 17.3%;
            min-height: 245px !important;
            opacity: 0.6;
            }
            @media (min-width: $tablet) {
                width: 194px !important;
            }
            @media (min-width: $desktop) {
                width: 254px !important;
            }
            
        }
       
    }
}
.swiper-image {
    min-height: 245px;
    object-fit: cover;
    @media (min-width: $tablet) {
        min-height: 194px;
    }
     @media (min-width: $desktop) {
        min-height: 254px !important;
    }
    
}
.swiper-btns {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
    border: none;
    @media (max-width: 1023px) {
        right: 17px;
    }
}

.swiper-btn-next, .swiper-btn-prev {
        // bottom: -50px;
        
        display: flex;

        align-items: center;
        justify-content: center;
        padding: 0;
        width: 50px;
        height: 40px;
        cursor: pointer;
        font-family: inherit;
        font-weight: 900;
        font-size: 39px;
        line-height: 1;
        border: none;
        color: var(--color-tertiary);
        background-color: transparent;
}

.swiper-button-disabled {
opacity: 0.6;
}
