// Точки перелому
// $mobile: 414px;
// $tablet: 1024px;
// $desktop: 1280px;
    
    @mixin centeringFlexbox($disp: flex, $al-items: center, $just-cont: center){
        display: $disp;
        align-items: $al-items;
        justify-content: $just-cont;
    }
    
    .servise-section{
        margin: 0 auto;
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        @media screen and (min-width:0) {
            max-width: $mobile;
            height: 735px;
    
            background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant.jpg);
            @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant@2x.jpg);
            }
        } 

        @media screen and (min-width:$tablet) {
            max-width: $tablet;
            height: 620px;
    
            background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant-tablet.jpg);
            @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant-tablet@2x.jpg);
            }
        }   
    
        &__container{
            @media screen and (min-width:0) {
                height: 735px;
                padding: 24px 0 40px;
    
                @include centeringFlexbox();
                flex-direction: column;
                justify-content: space-between;
            }

            @media screen and (min-width:$tablet) {
                margin: 0 auto;
                height: 620px;
                padding: 48px 0 96px;
    
                @include centeringFlexbox();
                flex-direction: column;
                justify-content: space-between;
            }
        }
    
        &__features-container{
            @media screen and (min-width:0) {
                margin-left: 140px;
            }

            @media screen and (min-width:$tablet) {
                margin-left: calc(278px - 140px);
                margin-bottom: 40px;
            }
        }
    
        &__head{
            display: block;
            margin: 0;
    
            font-family: 'Film P3';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 1.075;
            letter-spacing: 0.3em;
            color: var(--color-secondary);

            @media screen and (min-width:$tablet) {
                font-size: 64px;
                line-height: calc(69/64);
            }
        }
    
        &__business-type{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--color-secondary);

            @media screen and (min-width:0) {
                margin: 12px 0 20px;
            }

            @media screen and (min-width:$tablet) {
                margin: 16px 0 8px;

                font-size: 24px;
                line-height: calc(29/24);
            }
        }
    
        &__text{
            display: block;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.25;
            letter-spacing: 0.02em;
            color: var(--color-servicetext);
    
            @media screen and (min-width:0) {
                max-width: 259px;
            }

            @media screen and (min-width:$tablet) {
                max-width: 610px;

                font-size: 16px;
                line-height: calc(20/16);
            }
        }

        &__pict-butt-container{
            @include centeringFlexbox();
            flex-direction: column;

            @media screen and (min-width:0) {
                gap: 80px;
            }

            @media screen and (min-width:$tablet) {
                width: $tablet;
                flex-direction: row-reverse;
                justify-content: space-around;
                align-items: flex-end;
                gap: 29px;
            }
        }
    
        &__pictures-container{
            position: relative;
            @media screen and (max-width:$tablet) {
                width: $mobile;      
            }

            @media screen and (min-width:$tablet) {
                // width: $tablet;      
            }

            display: flex;
            gap: 20px;
            justify-content: flex-end;
        }

        &__dish-2{
            height: 270px;
        }

        &__dish-3{
            @media screen and (max-width:$tablet) {
               display: none;      
            }
        }

        &__arrows-container{
            position: absolute;
            left:40px;
            bottom: -46px;
            @include centeringFlexbox();
            gap: 32px;
        }
        &__arrow{
            margin: 0;
            padding: 0;
            fill: var(--color-white);
        }
    
        &__buttons-container{
            @include centeringFlexbox();
            flex-direction: column;
            gap: 16px;
        }
    
        &__button{
            width: 236px;
            height: 48px;
    
            border: 2px solid var(--color-secondary);
            border-radius: 25px;
            background-color: var(--background-button);
    
            color: var(--color-accent);
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.02em;
        }
    }